<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.wiki1.mapper.TestMapper" >

    <select id="list" resultType="com.wang.wiki1.domain.Test">
        select `id`, `name` from `test`
    </select>

</mapper>